n8n-workflows/W03-daily-briefing-generator.json
{
  "name": "W03 Daily Briefing Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "w03-trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const SUPABASE_URL = $env.SUPABASE_URL || $env.NEXT_PUBLIC_SUPABASE_URL;\nconst SERVICE_KEY = $env.SUPABASE_SERVICE_ROLE_KEY;\n\nif (!SUPABASE_URL || !SERVICE_KEY) {\n  throw new Error('Missing SUPABASE_URL/NEXT_PUBLIC_SUPABASE_URL or SUPABASE_SERVICE_ROLE_KEY');\n}\n\nconst headers = {\n  apikey: SERVICE_KEY,\n  Authorization: 'Bearer ' + SERVICE_KEY,\n  'Content-Type': 'application/json',\n};\n\nasync function read(path) {\n  const r = await fetch(SUPABASE_URL + path, { headers });\n  const txt = await r.text();\n  if (!r.ok) throw new Error(path + ' failed (' + r.status + '): ' + txt);\n  return txt ? JSON.parse(txt) : [];\n}\n\nconst latestDateRows = await read('/rest/v1/kpi_timeseries?select=captured_for_date&window_type=eq.daily&order=captured_for_date.desc&limit=1');\nconst latestDate = latestDateRows[0]?.captured_for_date || new Date().toISOString().slice(0, 10);\n\nconst [kpis, approvals, emails, changes, deals, integrations] = await Promise.all([\n  read('/rest/v1/kpi_timeseries?select=metric_name,value,window_type,captured_for_date&window_type=eq.daily&captured_for_date=eq.' + latestDate + '&order=metric_name.asc&limit=50'),\n  read('/rest/v1/approvals?select=id,requesting_agent_id,summary,permission_tier,risk_level,confidence,requested_at,action_type&status=eq.pending&order=permission_tier.desc,requested_at.asc&limit=10'),\n  read('/rest/v1/email_events?select=sender_email,summary,suggested_action,priority,status,received_at&priority=in.(critical,important)&status=in.(new,triaged)&order=received_at.desc&limit=5'),\n  read('/rest/v1/open_brain_entries?select=title,summary_text,department,priority,created_at,source_agent_id&priority=in.(critical,important)&order=created_at.desc&limit=20'),\n  read('/rest/v1/deals?select=account_name,stage,territory,updated_at&stage=in.(prospect,contacted,negotiating,terms_agreed,contract,active)&order=updated_at.desc&limit=10'),\n  read('/rest/v1/integration_health?select=service_name,system_name,status,connection_status,updated_at&limit=30')\n]);\n\nconst criticalAlerts = [];\nconst degraded = [];\nfor (const i of integrations) {\n  const state = i.status || i.connection_status || 'not_configured';\n  if (state === 'error' || state === 'degraded' || state === 'down' || state === 'expired') {\n    degraded.push(i.service_name || i.system_name);\n  }\n}\n\nif (degraded.length > 0) {\n  criticalAlerts.push({ source: 'integration_health', message: 'Data degraded for: ' + degraded.join(', '), severity: 'important' });\n}\n\nconst briefing = {\n  briefing_date: latestDate,\n  financial_pulse: {\n    key_metrics: kpis.slice(0, 8),\n  },\n  decisions_pending: approvals.slice(0, 5).map((a) => ({ agent_id: a.requesting_agent_id, summary: a.summary, tier: a.permission_tier, urgency: a.risk_level || 'medium' })),\n  critical_alerts: criticalAlerts.slice(0, 3),\n  email_highlights: emails.slice(0, 3).map((e) => ({ sender: e.sender_email, summary: e.summary || 'No summary', suggested_action: e.suggested_action || null })),\n  changes_24h: changes.slice(0, 5).map((c) => ({ description: c.title || c.summary_text || 'Change detected', department: c.department || 'unknown', source_agent: c.source_agent_id || null })),\n  deal_status: deals.slice(0, 3).map((d) => ({ account: d.account_name, stage: d.stage, movement: 'active', next_action: 'Review with owner' })),\n  biggest_risk: degraded.length > 0 ? ('Integration degradation: ' + degraded.join(', ')) : 'No critical system degradation detected.',\n  biggest_opportunity: approvals.length > 0 ? 'Clear pending approvals to unblock agent throughput.' : 'Maintain clean queue and continue KPI consistency.',\n  integration_status: {\n    connected: integrations.filter((i) => (i.status || i.connection_status) === 'healthy' || (i.status || i.connection_status) === 'connected').length,\n    total: integrations.length,\n    degraded\n  }\n};\n\nreturn [{ json: { briefing, generated_at: new Date().toISOString() } }];"
      },
      "id": "w03-build-briefing",
      "name": "Build Briefing Context",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SUPABASE_URL || $env.NEXT_PUBLIC_SUPABASE_URL) + '/functions/v1/embed-and-store'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ content: JSON.stringify($json.briefing), table: 'open_brain_entries', record: { source_type: 'agent', source_ref: 'w03-' + $json.briefing.briefing_date, entry_type: 'summary', title: 'Daily Briefing ' + $json.briefing.briefing_date, raw_text: JSON.stringify($json.briefing), summary_text: 'Risk: ' + $json.briefing.biggest_risk + ' | Opportunity: ' + $json.briefing.biggest_opportunity, category: 'system_log', department: 'systems', source_agent_id: '551b7a78-44be-473d-8207-aed5e7f3480e', confidence: 'medium', priority: 'normal', processed: true } }) }}"
      },
      "id": "w03-write-open-brain",
      "name": "Store Daily Briefing",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 0]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [[{ "node": "Build Briefing Context", "type": "main", "index": 0 }]]
    },
    "Build Briefing Context": {
      "main": [[{ "node": "Store Daily Briefing", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "usa-gummies-abra"
  },
  "tags": [{ "name": "abra-os" }, { "name": "prompt4" }]
}
