n8n-workflows/W06-approval-processor.json
{
  "name": "W06 Approval Processor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "approval-processor",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "w06-webhook",
      "name": "Approval Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [0, 0]
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body || $json;\nconst decision = body.decision;\nconst approvalId = body.approval_id || body.approvalId;\nconst reasoning = (body.reasoning || '').trim();\nconst modificationNotes = (body.modification_notes || body.modificationNotes || '').trim();\n\nif (!approvalId || !decision) {\n  throw new Error('approval_id and decision are required');\n}\nif (!['approved', 'denied', 'modified'].includes(decision)) {\n  throw new Error('decision must be approved|denied|modified');\n}\nif (decision === 'denied' && !reasoning) {\n  throw new Error('reasoning is required when decision=denied');\n}\n\nreturn [{\n  json: {\n    approval_id: approvalId,\n    decision,\n    reasoning: reasoning || null,\n    modification_notes: modificationNotes || null,\n    decided_by_email: body.decided_by_email || body.decider_email || null\n  }\n}];"
      },
      "id": "w06-validate",
      "name": "Validate Payload",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [220, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{($env.SUPABASE_URL || $env.NEXT_PUBLIC_SUPABASE_URL) + '/rest/v1/approvals?select=id,requesting_agent_id,action_type,approval_trigger,summary,supporting_data,status,confidence,risk_level,affected_departments&id=eq.' + $json.approval_id + '&limit=1'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        }
      },
      "id": "w06-get-approval",
      "name": "Get Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [440, 0]
    },
    {
      "parameters": {
        "jsCode": "const row = Array.isArray($json) ? $json[0] : $json;\nconst input = $('Validate Payload').item.json;\nif (!row || !row.id) throw new Error('Approval not found');\nif (row.status !== 'pending') throw new Error('Approval already processed');\n\nreturn [{\n  json: {\n    ...input,\n    approval: row\n  }\n}];"
      },
      "id": "w06-ensure-pending",
      "name": "Ensure Pending",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [660, 0]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{($env.SUPABASE_URL || $env.NEXT_PUBLIC_SUPABASE_URL) + '/rest/v1/users?select=id,email&email=eq.' + encodeURIComponent($('Validate Payload').item.json.decided_by_email || 'ben@usagummies.com') + '&limit=1'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" }
          ]
        }
      },
      "id": "w06-get-decider",
      "name": "Resolve Decider User",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [880, 0]
    },
    {
      "parameters": {
        "jsCode": "const user = Array.isArray($json) ? $json[0] : $json;\nif (!user || !user.id) throw new Error('Decider user mapping missing in users table');\nconst context = $('Ensure Pending').item.json;\n\nreturn [{\n  json: {\n    ...context,\n    decided_by_user_id: user.id,\n    decided_at: new Date().toISOString()\n  }\n}];"
      },
      "id": "w06-build-update",
      "name": "Build Decision Update",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1100, 0]
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "={{($env.SUPABASE_URL || $env.NEXT_PUBLIC_SUPABASE_URL) + '/rest/v1/approvals?id=eq.' + $json.approval.id + '&status=eq.pending'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ status: $json.decision, decision: $json.decision, decision_reasoning: $json.reasoning, decided_by_user_id: $json.decided_by_user_id, decided_at: $json.decided_at }) }}"
      },
      "id": "w06-update-approval",
      "name": "Update Approval",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1320, 0]
    },
    {
      "parameters": {
        "jsCode": "const updated = Array.isArray($json) ? $json[0] : $json;\nif (!updated || !updated.id) throw new Error('Approval update conflict');\nconst context = $('Build Decision Update').item.json;\nconst approval = context.approval;\n\nreturn [{\n  json: {\n    approval_id: updated.id,\n    requesting_agent_id: approval.requesting_agent_id,\n    action_proposed: approval.summary,\n    action_pattern: approval.action_type + '_' + (approval.approval_trigger || 'none'),\n    supporting_data: approval.supporting_data || null,\n    confidence_level: approval.confidence || null,\n    cross_department_impact: Array.isArray(approval.affected_departments) ? approval.affected_departments.join(',') : null,\n    risk_assessment: approval.risk_level || null,\n    decision: context.decision,\n    reasoning: context.reasoning || null,\n    modification_notes: context.modification_notes || null,\n    decided_by: context.decided_by_user_id\n  }\n}];"
      },
      "id": "w06-build-decision-log",
      "name": "Build Decision Log",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1540, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SUPABASE_URL || $env.NEXT_PUBLIC_SUPABASE_URL) + '/rest/v1/decision_log'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" },
            { "name": "Prefer", "value": "return=representation" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json) }}"
      },
      "id": "w06-insert-decision-log",
      "name": "Insert Decision Log",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1760, 0]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "typeValidation": "strict" },
          "conditions": [
            {
              "id": "w06-denied-check",
              "leftValue": "={{ $('Build Decision Update').item.json.decision }}",
              "rightValue": "denied",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "w06-if-denied",
      "name": "IF Denied",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [1980, 0]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{($env.SUPABASE_URL || $env.NEXT_PUBLIC_SUPABASE_URL) + '/rest/v1/open_brain_entries'}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "apikey", "value": "={{$env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Authorization", "value": "={{'Bearer ' + $env.SUPABASE_SERVICE_ROLE_KEY}}" },
            { "name": "Content-Type", "value": "application/json" }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ source_type: 'agent', source_ref: 'w06-denial-' + $('Build Decision Update').item.json.approval.id, entry_type: 'finding', title: 'Decision Denied: ' + $('Build Decision Update').item.json.approval.action_type, raw_text: 'Denied with reasoning: ' + ($('Build Decision Update').item.json.reasoning || 'none'), summary_text: $('Build Decision Update').item.json.reasoning || null, category: 'system_log', department: 'systems', source_agent_id: $('Build Decision Update').item.json.approval.requesting_agent_id, confidence: 'medium', priority: 'normal', processed: true }) }}"
      },
      "id": "w06-log-denial",
      "name": "Log Denial Learning",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [2200, -80]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, approval_id: $('Build Decision Update').item.json.approval.id, decision: $('Build Decision Update').item.json.decision, decision_log_id: (Array.isArray($json) ? $json[0]?.id : $json.id) || null }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "w06-response",
      "name": "Respond Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [2420, 0]
    }
  ],
  "connections": {
    "Approval Webhook": {
      "main": [[{ "node": "Validate Payload", "type": "main", "index": 0 }]]
    },
    "Validate Payload": {
      "main": [[{ "node": "Get Approval", "type": "main", "index": 0 }]]
    },
    "Get Approval": {
      "main": [[{ "node": "Ensure Pending", "type": "main", "index": 0 }]]
    },
    "Ensure Pending": {
      "main": [[{ "node": "Resolve Decider User", "type": "main", "index": 0 }]]
    },
    "Resolve Decider User": {
      "main": [[{ "node": "Build Decision Update", "type": "main", "index": 0 }]]
    },
    "Build Decision Update": {
      "main": [[{ "node": "Update Approval", "type": "main", "index": 0 }]]
    },
    "Update Approval": {
      "main": [[{ "node": "Build Decision Log", "type": "main", "index": 0 }]]
    },
    "Build Decision Log": {
      "main": [[{ "node": "Insert Decision Log", "type": "main", "index": 0 }]]
    },
    "Insert Decision Log": {
      "main": [[{ "node": "IF Denied", "type": "main", "index": 0 }]]
    },
    "IF Denied": {
      "main": [
        [{ "node": "Log Denial Learning", "type": "main", "index": 0 }],
        [{ "node": "Respond Success", "type": "main", "index": 0 }]
      ]
    },
    "Log Denial Learning": {
      "main": [[{ "node": "Respond Success", "type": "main", "index": 0 }]]
    }
  },
  "settings": { "executionOrder": "v1" },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "usa-gummies-abra"
  },
  "tags": [{ "name": "abra-os" }, { "name": "prompt4" }]
}
